<div class="ui items">
  <div class="table-list-demands">
    <table border="1" align="center" width="90%">
      <thead>
      <tr>
        <td>Номер заявки</td>
        <td>Дата создания заявки</td>
        <td>Пользователь</td>
        <td>Описание заявки</td>
        <td>Количество позиций</td>
        <td>Количество товаров</td>
        <td>Общая стоимость</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{demand.id}}</td>
        <td><demand-create-date></demand-create-date></td>
        <td><demand-user></demand-user></td>
        <td><demand-description></demand-description></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
