<div class="head">
  <div class="header_page_auth">
    <div class="aaa">
      <a href=""><img src="/home/marina/ngbook/src/assets/layout/images/tiger.png"></a>
    </div>
    <div class="aaa">
      Вы вошли как
      <button onClick='location.href='>Выход</button>
    </div>
  </div>
</div>
<demands-list
  [demandList]="demands"
  (onDemandSelected)="demandWasSelected($event)">
</demands-list>
{{Demand.id}}
<footer>
  <div class="style_footer" >
    <div class="row">
      <hr align="right" width="90%" size="2" color="#dddddd" />
    </div>
    <div class="footer">
      <p><small>Автоматизированная система проектного управления </small><br>
        <small>По методологическим вопросам обращаться не к кому </small><br>
        <small>По техническим вопросам обращаться не к кому </small><br>
        <small>Вообще не нужно обращаться</small></p>
    </div>
  </div>
</footer>
